page-login .scroll-content {
    
    background-size: 200px;
    text-shadow:1px 1px 3px rgba(0,0,0,.61);
}
page-login {

    text-align: center;
    button {
 display: block;
  background-color: $secondary;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: white;
  margin: auto;
  width: 72px;
  height: 72px;
  position: relative;
  text-align: center;
  line-height: 68px;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: inset  0px 0px 2px #aaa;
    }
        button:hover {
        text-decoration: none;
        color:  $secondary;
        background: #f5f5f5;
    }
    .team-code{
        font-size: 35px;
        color: white;
        background-color:rgba(0,0,0,.6);
    }
    h1{
        padding-left:16px;
            text-align: left;
            font-size:32px;
            color:$secondary;
            
    }
    h2{
        font-size: 18px;
        text-align: left;
        padding-left:16px;
        color:$secondary;
    }
    h3{
        padding-top: 4px;
        text-align: center;
        margin:auto;
        font-size: 18px;
    }
}
    