$primary:#005AB2;
$primary:#d1863b;
$primary2: #389CFF;
$primary3: #1E90FF;
$secondary2: #d1863b;
$secondary:#d1863b ;

$background-color: #467477;
$list-border-color:darken(#467477,10%);
$item-ios-divider-background: darken(#467477,10%);
$list-md-border-color:darken(#467477,10%);
$list-md-activated-background-color:darken(#467477,10%);
$refresher-border-color:darken(#467477,10%);
$text-color:white;
$tabs-md-tab-color-inactive:white;
$refresher-icon-color:white;
$tabs-background:#1d2e2f;
$fab-size:64px;

$card-ios-background-color:rgba(0,0,0,.6);
$card-md-background-color:rgba(0,0,0,.6);
$card-ios-text-color:white;
$card-md-text-color:white;
